<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'volunteer.photos.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <p>{{ 'volunteer.photos.intro' | translate }}</p>

  <p class="icons">
    <img src="assets/images/social/facebook.png"  (click)="miscService.openExternalLink('https://www.facebook.com/truckersagainstrafficking')">
    <img src="assets/images/social/instagram.png" (click)="miscService.openExternalLink('https://www.instagram.com/truckersagainsttrafficking/')">
    <img src="assets/images/social/twitter.png"   (click)="miscService.openExternalLink('https://twitter.com/TATKylla')">
  </p>
  
</ion-content>