<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>&nbsp;<!-- empty h1 to give the 'close' icon some space --></h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>
  
  <div *ngIf="!error">
    <p>{{ 'volunteer.trainingVideoMessage' | translate }}</p>
    <p>&nbsp;</p>
  </div>
  
  <video-player *ngIf="!error" [url]="videoUrl" [onVideoLoad]="onVideoFrameLoaded"></video-player>

  <p *ngIf="error">
    {{ 'volunteer.trainingVideoError' | translate }}
  </p>

</ion-content>