<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'redFlags.caseStudy.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <p>{{ 'redFlags.caseStudy.b' | translate }}</p>
  <p><a (click)="miscService.openExternalLink('@@')">{{ 'redFlags.caseStudy.watchVideo' | translate }}</a></p>
  <p><a (click)="miscService.openExternalLink('@@')">{{ 'redFlags.caseStudy.readFullStory' | translate }}</a></p>
</ion-content>
