<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>Case Study</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <p>Laura Sorensen and Aldair Hodza, who made national news when arrested on Jan. 6, 2015 in VA at a truck stop. According to the incident report, officers were called to the scene at 3:20 p.m. and were allowed inside the RV by the occupants, who said they were in the area on vacation and to visit Sorenson’s daughter. The officers, however, observed that the alleged victim appeared frightened and exhibited signs of malnutrition. A State Police trooper took the young woman outside, where she began to weep and beg the trooper not to let her return to the RV. She told the trooper she was being held against her will and had been abused sexually and physically by the suspects. She also said the suspects threatened to kill or injure her family. She said she had infections all over her body and couldn’t remember the last time she had anything to eat or drink, adding that several days had passed.</p>
  <p><a>Watch Video</a></p>
  <p><a>Read Full Story</a></p>
</ion-content>
