<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'volunteer.resources.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>

  <p>{{ 'volunteer.resources.intro' | translate }}</p>

  <p><b>{{ 'volunteer.resources.infographicTitle' | translate }}</b></p>

  <responsive-image altTagKey="volunteer.resources.infographicTitle" imageName="tat-by-the-numbers"></responsive-image>

  <p>
    <a (click)="miscService.openExternalLink('https://humantraffickinghotline.org/states')">{{ 'volunteer.resources.statsLink1' | translate }}</a>
    {{ 'volunteer.resources.statsLink2' | translate }}.
  </p>

  <p>
    {{ 'volunteer.resources.moreLink1' | translate }}
    <a (click)="miscService.openExternalLink('http://truckersagainsttrafficking.org/')">{{ 'volunteer.resources.moreLink2' | translate }}</a>.
  </p>
</ion-content>