<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'postOutreachReport.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <p>{{ 'postOutreachReport.select' | translate }}</p>

  <ion-list *ngIf="userDataService.data.incompletePostReports.length > 0">
    <ion-item *ngFor="let report of userDataService.data.incompletePostReports" (click)="onReportClick(report)" class="has-border">
      <ion-label>{{report.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>