<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'postOutreachReport.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <div *ngIf="userDataService.data">
    <p>{{ 'postOutreachReport.select' | translate }}</p>

    <ion-list *ngIf="userDataService.data.unfinishedOutreachTargets.length > 0">
      <ion-item *ngFor="let target of userDataService.data.unfinishedOutreachTargets" (click)="onTargetClick(target)" class="has-border">
        <ion-label>
          <b>{{target.name}}</b><br>
          <small>
            {{target.address}}<br>
            {{target.city}}, {{target.state}}
          </small>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>