<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'redFlags.caseStudy.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <p>{{ 'redFlags.caseStudy.d' | translate }}</p>

  <p><img src="assets/images/branding/1.jpg"></p>
  <p><img src="assets/images/branding/2.jpg"></p>
  <p><img src="assets/images/branding/3.jpg"></p>
  <p><img src="assets/images/branding/4.jpg"></p>

</ion-content>
