hr {
    margin: 2em 0;
}

.app-icon {
    width: 25px;
    margin-right: 12px;
}

ion-item {
    --border-color: #555;
}

.listen-apps {
    max-width: 360px;
    margin-top: 1em;
}

.podcast-cover-art {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}