<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{ 'redFlagsLabor.title' | translate }}</h1>

  <div [innerHTML]="'redFlagsLabor.intro' | translate "></div>

  <hr>
  
  <h2>{{ 'redFlagsLabor.versus.title' | translate }}</h2>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="5.75" [innerHTML]="'redFlagsLabor.versus.trafficking' | translate"></ion-col>
      <ion-col size-xs="0" size-sm="0.5"></ion-col>
      <ion-col size-xs="12" size-sm="5.75" [innerHTML]="'redFlagsLabor.versus.smuggling' | translate"></ion-col>
    </ion-row>
  </ion-grid>
  
  <p>
    <i>{{ 'redFlagsLabor.note' | translate }}</i>
  </p>

  <hr>

  <div class="flags-grid">
    <div class="sectors">
      <h2>{{ 'redFlagsLabor.places.title' | translate }}</h2>
      <div [innerHTML]="'redFlagsLabor.places.part1' | translate"></div>
    </div>
    <div class="indicators">
      <h2>{{ 'redFlagsLabor.flags.title' | translate }}</h2>
      <div [innerHTML]="'redFlagsLabor.flags.generic' | translate"></div>
      <image-button image="red-flags.example-2.jpg" (click)="modalService.open(GenericModalComponent, caseStudyAProps)">{{ 'redFlagsSex.example' | translate }}</image-button>
      <div [innerHTML]="'redFlagsLabor.flags.mover' | translate"></div>
    </div>
    <div class="help">
      <h2>{{ 'redFlagsLabor.howToHelpTitle' | translate }}</h2>
      <div [innerHTML]="'redFlagsLabor.howToHelp' | translate"></div>
    </div>
  </div>

</ion-content>
