<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <h1>{{ 'places.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <div *ngIf="places.length === 0">Loading...</div>
  <ion-list *ngIf="places.length > 0">
    <ion-item *ngFor="let place of places">
      <ion-label>{{place.name}}</ion-label>
      <ion-radio (click)="onPlaceClick(place)"></ion-radio>
    </ion-item>
  </ion-list>
  
</ion-content>