<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content class="like-modal" fullscreen padding>
  <h1>{{ 'preOutreachSurvey.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="navCtrl.navigateRoot('/tabs/(volunteer:volunteer)')"></ion-icon>

  <p>{{ 'preOutreachSurvey.1.intro' | translate }}</p>

  <div padding-top padding-bottom margin-bottom *ngFor="let location of formsService.preOutreachForm.locations; let i = index">
    <h5>{{ 'preOutreachSurvey.1.location' | translate }} {{i+1}}</h5>
    <ion-radio-group [(ngModel)]="location.locationType">
      <ion-item>
        <ion-label>{{ 'preOutreachSurvey.1.locationTypes.school' | translate }}</ion-label>
        <ion-radio slot="start" [value]="OldOutreachLocationType.CDLSchool"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'preOutreachSurvey.1.locationTypes.company' | translate }}</ion-label>
        <ion-radio slot="start" [value]="OldOutreachLocationType.TruckingCompany"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'preOutreachSurvey.1.locationTypes.truckStop' | translate }}</ion-label>
        <ion-radio slot="start" [value]="OldOutreachLocationType.TruckStop"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.name' | translate }}</ion-label>
      <ion-input [(ngModel)]="location.locationName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.address1' | translate }}</ion-label>
      <ion-input [(ngModel)]="location.address1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.address2' | translate }}</ion-label>
      <ion-input [(ngModel)]="location.address2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.city' | translate }}</ion-label>
      <ion-input [(ngModel)]="location.city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.state' | translate }}</ion-label>
      <ion-input [(ngModel)]="location.state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.zip' | translate }}</ion-label>
      <ion-input [(ngModel)]="location.zip"></ion-input>
    </ion-item>
  </div>

  <p text-center padding-bottom *ngIf="formsService.preOutreachForm.locations.length > 1">
    <a (click)="formsService.preOutreachForm.locations.pop()">{{ 'preOutreachSurvey.1.removeLocation' | translate }}</a>
  </p>
  
  <p text-center padding-bottom>
    <a (click)="formsService.addPreOutreachFormLocation()">{{ 'preOutreachSurvey.1.addLocation' | translate }}</a>
  </p>

  <p text-center>
    <ion-button class="large-btn" fill="solid" color="primary" (click)="navCtrl.navigateRoot('/pos-2')">
      {{ 'misc.next' | translate }}
    </ion-button>
  </p>

</ion-content>