<ion-tabs>
  <ion-tab label="Home" icon="tat" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Report" icon="information-circle" href="/tabs/(report:report)">
    <ion-router-outlet name="report"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Red Flags" icon="contacts" href="/tabs/(red-flags:red-flags)">
    <ion-router-outlet name="red-flags"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Resources" icon="home" href="/tabs/(resources:resources)">
    <ion-router-outlet name="resources"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="volunteer" icon="home" href="/tabs/(volunteer:volunteer)">
    <ion-router-outlet name="volunteer"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
