<ion-tabs>
  <ion-tab label="Home" icon="wheel" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Report" icon="triangle" href="/tabs/(report:report)">
    <ion-router-outlet name="report"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Red Flags" icon="redflag" href="/tabs/(red-flags:red-flags)">
    <ion-router-outlet name="red-flags"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Resources" icon="magnifier" href="/tabs/(resources:resources)">
    <ion-router-outlet name="resources"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Volunteer" icon="volunteer" href="/tabs/(volunteer:volunteer)">
    <ion-router-outlet name="volunteer"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
