<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="wheel"></ion-icon>
      <ion-label>{{ 'nav.home' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="report">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>{{ 'nav.report' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="red-flags" (click)="$event.stopImmediatePropagation(); openRedFlagsMenu($event)">
      <ion-icon name="redflag"></ion-icon>
      <ion-label>{{ 'nav.redFlags' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="resources" (click)="environment.app === AppMode.ELD ? showResourcesQr($event) : null">
      <ion-icon name="magnifier"></ion-icon>
      <ion-label>{{ 'nav.resources' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="environment.app === AppMode.TAT" tab="volunteer">
      <ion-icon name="volunteer"></ion-icon>
      <ion-label>{{ 'nav.volunteer' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
