<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'volunteer.settings.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>

  <p><strong>{{ 'volunteer.settings.notifications.title' | translate }}</strong></p>

  <ion-list>
    <ion-item *ngIf="userDataService.data.volunteerType !== VolunteerType.VOLUNTEER_DISTRIBUTOR">
      <ion-label>{{ 'volunteer.settings.notifications.preEventSurveyReminder' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="settings.notifications.preEventSurveyReminder" (ionChange)="settings.saveSettings()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{ ('volunteer.settings.notifications.' + (userDataService.data.volunteerType === VolunteerType.VOLUNTEER_DISTRIBUTOR ? 'postOutreachReportReminder' : 'postEventReportReminder')) | translate }}</ion-label>
      <ion-toggle [(ngModel)]="settings.notifications.reportReminder" (ionChange)="settings.saveSettings()"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="userDataService.data.volunteerType !== VolunteerType.VOLUNTEER_DISTRIBUTOR">
      <ion-label>{{ 'volunteer.settings.notifications.upcomingEvents' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="settings.notifications.upcomingEvents" (ionChange)="settings.saveSettings()"></ion-toggle>
    </ion-item>
  </ion-list>

  <hr>
  <div style="opacity: 0.5">
    <p *ngIf="userDataService.data.firstName">
      {{ 'volunteer.settings.loggedInAs' | translate }} <b>{{userDataService.data.firstName}} {{userDataService.data.lastName}}</b>
    </p>
    <p>
      {{ 'volunteer.settings.userId' | translate }}: <code>{{userDataService.firebaseUser.uid}}</code>
    </p>
  </div>

  <p></p>
  <!-- If more options are added to the 'edit account' survey, then potentially show this to other volunteers -->
  <p *ngIf="(userDataService.data.volunteerType === VolunteerType.VOLUNTEER_DISTRIBUTOR && userDataService.data.isOnVolunteerTeam) || userDataService.data.isTeamCoordinator">
    <ion-button fill="solid" color="primary" expand="block" (click)="showEditAccountForm()">{{ 'volunteer.settings.editAccount' | translate }}</ion-button>
  </p>
  <p>
    <ion-button fill="solid" color="primary" expand="block" (click)="onLogout()">{{ 'volunteer.settings.logout' | translate }}</ion-button>
  </p>

</ion-content>