$primary-color: #2e90d0;

$sidePadding: 0.5em;
$vertPadding: 0.25em;
$bottomExtraPadding: 5px;

:host {
    display: block;

    &.disabled {
        pointer-events: none;
    }
}

.wrap {
    height: 100%;
    padding: $vertPadding $sidePadding calc( #{$vertPadding} + #{$bottomExtraPadding} ) $sidePadding;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-color: #333;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 3px 4px black;

    font-family: var( --title-font-family );
    font-size: 240%;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    
    color: white;
    cursor: pointer;
    
    .hint {
        display: none;
        font-size: 35%;
        font-family: var( --ion-font-family );
    }

    &.has-hint .hint {
        display: block;
    }

    &.has-large-hint .hint {
        font-size: 60%;
    }

    .alert-dot {
        display: none;
        width: 0.3em;
        height: 0.3em;
        position: absolute;
        right: 0.5em;
        top: calc( 50% - 0.15em );

        border-radius: 10em;
        background: $primary-color;
    }

    &:hover, &:active {
        background-color: #3e7c96;
        background-blend-mode: overlay; /* safari may not support luminosity, so declare overlay */
        background-blend-mode: luminosity;
    }

    &.tall {
        padding-top: 1em;
        padding-bottom: calc( 1em + #{$bottomExtraPadding} );
    }

    &.required {
        border-left: 6px solid $primary-color;
    }

    &.not-completed {
        .alert-dot { display: block }
    }

    &.disabled {
        opacity: 0.3;
        background-blend-mode: unset;
        pointer-events: none;
    }
}

// make it smaller when the button is embedded in a list item
::ng-deep li image-button .wrap {
    font-size: 200% !important;
    margin-top: 0.3em;
    margin-bottom: 0.4em;
}
