<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{ 'redFlagsSex.title' | translate }}</h1>

  <div [innerHTML]="'redFlagsSex.intro' | translate"></div>

  <div class="button-grid">
    <image-button image="red-flags-sex-otr.jpg" (click)="modalService.open(RedFlagsSexOtrComponent)">
      {{ 'redFlagsSex.industries.otr.title' | translate }}
    </image-button>
    <image-button image="red-flags-sex-local.jpg" (click)="modalService.open(RedFlagsSexLocalComponent)">
      {{ 'redFlagsSex.industries.local.title' | translate }}
    </image-button>
    <image-button image="red-flags-sex-movers.jpg" (click)="modalService.open(RedFlagsSexMoversComponent)">
      {{ 'redFlagsSex.industries.mover.title' | translate }}
    </image-button>
  </div>

  <hr style="margin-top: 2em">

  <p>{{ 'redFlagsSex.post1' | translate }} <a (click)="miscService.openExternalLink('https://education.truckersagainsttrafficking.org/my-courses/')">{{ 'redFlagsSex.post1Link' | translate }}</a>.</p>

</ion-content>
