.short-text {
    font-size: 75%;
    display: contents;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    > * {
        flex: 1 0 auto;
        margin: 10px 10px 0 0;
    }
}

.flag {
    height: 0.7em;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 70%);
}

.alt-hotlines {
    hr { display: none }
    ion-button {
        white-space: pre-wrap;
        text-align: left;
    }
}

.flex-row image-button {
    max-width: calc( 100% - 10px );
}

ion-button {
    height: auto;
    > div {
        padding: 12px 0;
    }
}

.location-error-wrap {
    text-align: center;
}

.location-error {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 0.6em;
    text-align: left;

    p { margin-top: 0 }

    &__button-wrap {
        display: flex;
        justify-content: flex-end;
    }
}

::ng-deep .loading-location-alert {
    ion-spinner {
        margin-bottom: -0.4em;
        margin-right: 0.5em;
        color: var(--ion-color-primary);
    }
}

@media only screen and (max-width: 400px) {
    .alt-hotlines {
        hr { display: block }
    }
}