<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'resources.laws.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>

  <p><strong>{{ 'resources.laws.intro' | translate }}</strong></p>

  <p><em>{{ 'resources.laws.intro2' | translate }}</em></p>

  <ul>
    <li>{{ 'resources.laws.bullets.1' | translate }}</li>
    <li>{{ 'resources.laws.bullets.2' | translate }}</li>
    <li>{{ 'resources.laws.bullets.3' | translate }}</li>
    <li>{{ 'resources.laws.bullets.4' | translate }}</li>
    <li>{{ 'resources.laws.bullets.5' | translate }}</li>
  </ul>

  <p><a (click)="miscService.openExternalLink('http://truckersagainsttrafficking.org/human-trafficking-laws/')">{{ 'resources.laws.linkText' | translate }}</a></p>

  <responsive-image altTagKey="resources.laws.title" imageName="ht-laws"></responsive-image>

</ion-content>