<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{ 'volunteer.title' | translate }}</h1>
  <ion-icon *ngIf="userDataService.data" name="md-menu" class="modal-close-btn" (click)="modalService.open(VolunteerSettingsComponent)"></ion-icon>

  <div *ngIf="userDataService.loadError">
    <p>{{ 'misc.dataLoadError' | translate }}</p>
    <ion-button fill="solid" color="primary" size="default" (click)="userDataService.fetchUserData()">
      {{ 'misc.retry' | translate }}
    </ion-button>
    <ion-button fill="solid" color="primary" size="default" (click)="angularFireAuth.auth.signOut()">
      {{ 'volunteer.settings.logout' | translate }}
    </ion-button>
  </div>

  <div *ngIf="userDataService.data">
    <p *ngIf="userDataService.data.firstName" class="first-name">{{ 'volunteer.welcome' | translate }}, {{userDataService.data.firstName}}</p>
    <p>{{ 'volunteer.intro' | translate }}</p>

    <image-button
      image="volunteer.training-video.jpg"
      (click)="modalService.open(TrainingVideoComponent)"
      [required]="true"
      [completed]="userDataService.data.hasWatchedTrainingVideo">
        {{ 'volunteer.btns.trainingVideo' | translate }}
    </image-button>

    <image-button
      image="volunteer.pre-outreach-survey.jpg"
      (click)="modalService.open(PreOutreachFormComponent)"
      [required]="true"
      [disabled]="!userDataService.data.hasWatchedTrainingVideo">
        {{ 'volunteer.btns.preOutreachSurvey' | translate }}
    </image-button>
    
    <image-button
      image="volunteer.resources.jpg"
      (click)="modalService.open(VolunteerResourcesComponent)"
      [disabled]="!userDataService.data.hasWatchedTrainingVideo">
        {{ 'volunteer.btns.resources' | translate }}
    </image-button>
    
    <image-button
      image="volunteer.post-outreach-report.jpg"
      (click)="modalService.open(PostOutreachSelectionComponent)"
      [required]="true"
      [disabled]="!userDataService.data.hasWatchedTrainingVideo || userDataService.data.unfinishedOutreachTargets.length === 0">
        {{ 'volunteer.btns.postOutreachReport' | translate }}
    </image-button>
    
    <image-button
      image="volunteer.hours-log.jpg"
      (click)="modalService.open(HoursLogComponent)"
      [required]="true"
      [disabled]="!userDataService.data.hasWatchedTrainingVideo">
        {{ 'volunteer.btns.hoursLog' | translate }}
    </image-button>
    
    <image-button
      image="volunteer.testimonial.jpg"
      (click)="modalService.open(FeedbackFormComponent)"
      [disabled]="!userDataService.data.hasWatchedTrainingVideo">
        {{ 'volunteer.btns.testimonial' | translate }}
    </image-button>
  </div>
</ion-content>
