<ion-header>
  <ion-toolbar>
    <ion-title>Volunteer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <image-button image="volunteer.training-video.jpg" [required]="true" [completed]="false">Training Video</image-button>
  <image-button image="volunteer.pre-outreach-survey.jpg" [required]="true">Pre-Outreach Survey</image-button>
  <image-button image="volunteer.resources.jpg">Resources</image-button>
  <image-button image="volunteer.post-outreach-report.jpg" [required]="true">Post-Outreach Report</image-button>
  <image-button image="volunteer.hours-log.jpg" [required]="true">Hours Log</image-button>
  <image-button image="volunteer.photos.jpg">Photos</image-button>
  <image-button image="volunteer.testimonial.jpg">Testimonial</image-button>
</ion-content>
