<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Red Flags</h1>
  <p>
    Human trafficking is modern-day slavery. Traffickers use force, fraud and coercion to control their victims. Any minor engaged in commercial sex is a victim of human trafficking. While the initial purchase of victims may occur online, the real-time sale of victims can happen in many locations, including truck stops, restaurants, rest areas, hotels/motels, strip clubs, private homes, etc.
  </p>
  <p>
    Truckers are the eyes and the ears of our nation’s highways. If you see a minor working any of those areas or suspect that the person selling sex is under someone else’s control in order to make a quota, call the National Hotline and report your tip.
  </p>
  <p>
    <b>Warning: Please do not approach traffickers.</b> Allow law enforcement to deal with traffickers and recover victims. Approaching traffickers is not only dangerous for you and their victims but could lead to problems in the eventual prosecution of traffickers.
  </p>
  <hr>

  <h1>Questions</h1>
  <p>
    <b>If you suspect someone is a victim of human trafficking, here are some questions to ask him/her.</b>
  </p>
  <ul>
    <li>Do you keep your own money? If not, who does?</li>
    <li>Do your parents/siblings/relatives know where you are? If not, why not?</li>
  </ul>

  <image-button image="red-flags.example-1.jpg" (click)="modalService.open(CaseStudyAComponent)">Example</image-button>

  <ul>
    <li>When was the last time you saw your family?</li>
    <li>Are you physically or sexually abused?</li>
  </ul>

  <image-button image="red-flags.example-2.jpg" (click)="modalService.open(CaseStudyBComponent)">Example</image-button>

  <ul>
    <li>Are you or your family threatened?</li>
    <li>What is the nature of the threats?</li>
  </ul>

  <p><b>Trafficking Red Flags to look for:</b></p>

  <ul>
    <li>Lack of knowledge of their whereabouts; not in control of ID/passport</li>
    <li>Restricted or controlled communication-not allowed to speak for self</li>
    <li>CB chatter about “commercial company” or flashing lights signaling "buyer" location</li>
    <li>Acknowledgement of a pimp and making a quota</li>
  </ul>

  <image-button image="red-flags.example-3.jpg" (click)="modalService.open(CaseStudyCComponent)">Example</image-button>

  <ul>
    <li>Signs of branding or tattooing of trafficker’s name (often on the neck)</li>
  </ul>

  <image-button image="red-flags.example-4.jpg" (click)="modalService.open(CaseStudyDComponent)">Example</image-button>

  <ul>
    <li>A van or RV that seems out of place out by trucks; a vehicle dropping someone off at a truck and picking them up 15&ndash;20 minutes later</li>
  </ul>

  <p>
    If you haven't seen the TAT Training DVD you can go to our <a href="">education portal to complete your TAT Training</a>.
  </p>
  <p>
    If you have seen the TAT Training DVD and reviewed this content, please register as TAT Trained <a href="">here</a>.
  </p>
</ion-content>
