<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{ 'redFlags.title' | translate }}</h1>

  <p>{{ 'redFlags.intro.p1' | translate }}</p>
  <p>{{ 'redFlags.intro.p2' | translate }}</p>
  <p><b>{{ 'redFlags.intro.warning' | translate }}</b> {{ 'redFlags.intro.p3' | translate }}</p>

  <hr>

  <h1>{{ 'redFlags.questions.title' | translate }}</h1>
  <p>
    <b>{{ 'redFlags.questions.subtitle' | translate }}</b>
  </p>
  <ul>
    <li>{{ 'redFlags.questions.1' | translate }}</li>
    <li>{{ 'redFlags.questions.2' | translate }}</li>
  </ul>

  <image-button image="red-flags.example-1.jpg" (click)="modalService.open(CaseStudyAComponent)">{{ 'redFlags.example' | translate }}</image-button>

  <ul>
    <li>{{ 'redFlags.questions.3' | translate }}</li>
    <li>{{ 'redFlags.questions.4' | translate }}</li>
  </ul>

  <image-button image="red-flags.example-2.jpg" (click)="modalService.open(CaseStudyBComponent)">{{ 'redFlags.example' | translate }}</image-button>

  <ul>
    <li>{{ 'redFlags.questions.5' | translate }}</li>
    <li>{{ 'redFlags.questions.6' | translate }}</li>
  </ul>

  <p><b>{{ 'redFlags.flags.subtitle' | translate }}</b></p>

  <ul>
    <li>{{ 'redFlags.flags.1' | translate }}</li>
    <li>{{ 'redFlags.flags.2' | translate }}</li>
    <li>{{ 'redFlags.flags.3' | translate }}</li>
    <li>{{ 'redFlags.flags.4' | translate }}</li>
  </ul>

  <image-button image="red-flags.example-3.jpg" (click)="modalService.open(CaseStudyCComponent)">{{ 'redFlags.example' | translate }}</image-button>

  <ul>
    <li>{{ 'redFlags.flags.5' | translate }}</li>
  </ul>

  <image-button image="red-flags.example-4.jpg" (click)="modalService.open(CaseStudyDComponent)">{{ 'redFlags.example' | translate }}</image-button>

  <ul>
    <li>{{ 'redFlags.flags.6' | translate }}</li>
  </ul>

  <p>{{ 'redFlags.post1' | translate }} <a (click)="miscService.openExternalLink('https://education.truckersagainsttrafficking.org/lesson/the-tat-training-video/')">{{ 'redFlags.post1Link' | translate }}</a>.</p>
  <p>{{ 'redFlags.post2' | translate }} <a (click)="miscService.openExternalLink('http://159.203.75.207:3080/')">{{ 'redFlags.post2Link' | translate }}</a>.</p>
</ion-content>
