<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'volunteer.loginTitle' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>

  <p>{{ 'volunteer.loginDescription' | translate }}</p>
  <p>&nbsp;</p>

  <firebase-ui
    (signInSuccessWithAuthResult)="authSuccessCallback($event)"
    (signInFailure)="authErrorCallback($event)"
    [language]="settings.language">
  </firebase-ui>

</ion-content>