<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>Case Study</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <p>William had parked in a truck stop for the evening when an underage girl knocked on his truck door and solicited him for sex. After William told the girl he was not interested, he observed her knocking on the doors of several other trucks before getting into one. During this time, William also saw an adult man walking around the lot and noticed that he appeared to be watching the girl closely.</p>

  <a>Read Full Story</a>
</ion-content>