<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content class="gf-survey-modal" fullscreen padding>
  <div>
    <h1 style="flex: 0 0 auto">{{ 'volunteer.forms.signup.title' | translate }}</h1>
    <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>
    
    <div class="like-gf-survey-wrapper">
      <div class="like-gf-survey part-1 page-{{activePart}}">
        <div class="input-like-gf">
          <ion-input placeholder="{{ 'volunteer.forms.signup.registrationCode' | translate }}" type="text" color="dark" [(ngModel)]="fields.regCode"></ion-input>
        </div>
      </div>

      <div class="like-gf-survey part-2">
        <p>{{ 'volunteer.forms.signup.intro' | translate }}</p>
        <div class="input-like-gf">
          <ion-input placeholder="{{ 'volunteer.forms.signup.email' | translate }}" type="text" color="dark" [(ngModel)]="fields.email"></ion-input>
        </div>
        <div class="input-like-gf">
          <ion-input placeholder="{{ 'volunteer.forms.signup.phone' | translate }}" type="text" color="dark" [(ngModel)]="fields.phone"></ion-input>
        </div>
      </div>
    </div>

    <div class="gf-nav">
      <div class="nav-button nav-left" [class.disabled]="activePart === 1" (click)="goBack()">
        <chevron-svg direction="left"></chevron-svg>
      </div>
      <div class="nav-button nav-right" [class.disabled]="nextIsDisabled()" (click)="advance()">
        <chevron-svg direction="right"></chevron-svg>
      </div>
    </div>
  </div>
</ion-content>