<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'volunteer.forms.postOutreach.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>

  <div *ngIf="userDataService.data">
    <p>{{ 'volunteer.forms.postOutreach.select' | translate }}</p>

    <ng-container *ngFor="let target of userDataService.data.outreachLocations">
      <ion-card (click)="openPostOutreachReport(target)" color="primary">
        <ion-card-header>
          <ion-card-title>{{target.name}}</ion-card-title>
          <ion-card-subtitle>{{ 'volunteer.forms.preOutreach.labels.locationTypes.' + target.type | translate }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{target.street}}<br>
          {{target.city}}, {{target.state}}
          <div *ngIf="target.date" class="outreach-date">{{ 'volunteer.forms.postOutreach.plannedDate' | translate }}: {{target.date.toLocaleDateString()}}</div>
        </ion-card-content>
      </ion-card>
      <div class="card-actions">
        <ion-button fill="clear" color="light" (click)="miscService.openExternalLink(getMapsLink(target))"><ion-icon name="pin"></ion-icon></ion-button>
        <ion-button *ngIf="userDataService.data.isTeamCoordinator" fill="clear" color="danger" (click)="deleteTarget(target)"><ion-icon name="trash"></ion-icon></ion-button>
      </div>
    </ng-container>
  </div>

</ion-content>