<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'resources.about.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>

  <p>{{ 'resources.about.intro' | translate }}</p>

  <p><strong>{{ 'resources.about.goals.header' | translate }}</strong></p>
  <ul>
    <li>{{ 'resources.about.goals.1' | translate }}</li>
    <li>{{ 'resources.about.goals.2' | translate }}</li>
    <li>{{ 'resources.about.goals.3' | translate }}</li>
  </ul>

  <p>
    {{ 'resources.about.annualReportLink.1' | translate:{year: lastYear} }}
    <a (click)="miscService.openExternalLink('https://truckersagainsttrafficking.org/get-our-materials/#annual-reports')">{{ 'resources.about.annualReportLink.2' | translate }}</a>.
  </p>

  <p>
    {{ 'resources.about.tatLink.1' | translate }}
    <a (click)="miscService.openExternalLink('http://truckersagainsttrafficking.org/')">{{ 'resources.about.tatLink.2' | translate }}</a>.
  </p>

  <hr>

  <p>{{ 'resources.about.credits' | translate }}</p>

  <p>{{ 'resources.about.supportLink.1' | translate }}
    <a (click)="miscService.openExternalLink('mailto:tat.truckers@gmail.com')">tat.truckers@gmail.com</a>.
  </p>

  <p>{{ 'resources.about.freedomDriversLink.1' | translate }}
    <a (click)="miscService.openExternalLink('https://truckersagainsttrafficking.org/events/category/freedom-drivers-project/')">{{ 'resources.about.freedomDriversLink.2' | translate }}</a>.
  </p>
</ion-content>