<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>About Truckers Against Trafficking</h1>
  <ion-icon name="md-close" class="modal-close-btn" (click)="modal.dismiss()"></ion-icon>

  <p>We exist to educate, equip, empower, and mobilize members of the trucking and busing industries to combat domestic sex trafficking as a regular part of their jobs.</p>

  <p><strong>Our three goals are</strong></p>
  <ul>
    <li>Saturate trucking and related industries with TAT materials</li>
    <li>Partner with law enforcement and government agencies to facilitate the investigation of human trafficking</li>
    <li>Marshal the resources of our partners to combat this crime</li>
  </ul>

  <p>Learn about the impact TAT and our partners made in 2017 through our <a>Annual Report</a>.

  <hr>

  <p>This app was developed by Ransom Christofferson and designed by Alexander Ramsey Creative LLC.</p>

  <p>For support, contact: <a>info@TruckersAgainstTrafficking.org</a></p>

  <p>Follow our show trailer, the Freedom Drivers Project, through the <a>events calendar</a>.</p>
</ion-content>