<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content class="like-modal" fullscreen padding>
  <h1>{{ 'preOutreachSurvey.title' | translate }}</h1>
  <ion-icon name="md-chevronleft" class="modal-close-btn" (click)="navCtrl.goBack()"></ion-icon>

  <p>{{ 'preOutreachSurvey.4.intro' | translate }}</p>

  <ion-radio-group padding-top padding-bottom [(ngModel)]="formsService.preOutreachForm.readyToReceive">
    <ion-item>
      <ion-label>{{ 'misc.yes' | translate }}</ion-label>
      <ion-radio slot="start" value="yes"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'misc.no' | translate }}</ion-label>
      <ion-radio slot="start" value="no"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <div padding-top margin-top *ngIf="formsService.preOutreachForm.readyToReceive === 'yes'">
    <p>{{ 'preOutreachSurvey.4.addressQuestion' | translate }}</p>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.4.name' | translate }}</ion-label>
      <ion-input [(ngModel)]="formsService.preOutreachForm.materialsAddress.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.address1' | translate }}</ion-label>
      <ion-input [(ngModel)]="formsService.preOutreachForm.materialsAddress.address1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.address2' | translate }}</ion-label>
      <ion-input [(ngModel)]="formsService.preOutreachForm.materialsAddress.address2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.city' | translate }}</ion-label>
      <ion-input [(ngModel)]="formsService.preOutreachForm.materialsAddress.city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.state' | translate }}</ion-label>
      <ion-input [(ngModel)]="formsService.preOutreachForm.materialsAddress.state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'preOutreachSurvey.1.fields.zip' | translate }}</ion-label>
      <ion-input [(ngModel)]="formsService.preOutreachForm.materialsAddress.zip"></ion-input>
    </ion-item>
  </div>

  <p text-center padding-top>
    <ion-button
    class="large-btn"
    fill="solid"
    color="primary"
    (click)="submitForm()"
    [disabled]="formsService.preOutreachForm.readyToReceive === undefined">
      {{ 'misc.submit' | translate }}
    </ion-button>
  </p>

</ion-content>