<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="assets/images/tat-logo.png" class="logo">

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6">
        <image-button image="home.report-activity.jpg" (click)="navCtrl.navigateRoot('/tabs/(report:report)')">
          <ion-icon name="triangle"></ion-icon>
          {{ 'home.reportActivity' | translate }}
        </image-button>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <image-button image="home.red-flags.jpg" (click)="navCtrl.navigateRoot('/tabs/(red-flags:red-flags)')">
          <ion-icon name="redflag"></ion-icon>
          {{ 'home.redFlags' | translate }}
        </image-button>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <image-button image="home.resources.jpg" (click)="navCtrl.navigateRoot('/tabs/(resources:resources)')">
          <ion-icon name="magnifier"></ion-icon>
          {{ 'home.resources' | translate }}
        </image-button>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <image-button image="home.volunteer-login.jpg" (click)="navCtrl.navigateRoot('/tabs/(volunteer:volunteer)')">
          <ion-icon name="volunteer"></ion-icon>
          {{ (miscService.isLoggedIn ? 'volunteer.title' : 'volunteer.loginTitle') | translate }}
        </image-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item class="language-select">
    <ion-label><ion-icon name="globe"></ion-icon> {{ 'misc.setLanguage' | translate }}</ion-label>
    <ion-select
      interface="alert"
      placeholder="Select One"
      [(ngModel)]="settings.language"
      (ionChange)="onSetLanguage()"
      cancelText="{{ 'misc.buttons.cancel' | translate }}"
      okText="{{ 'misc.buttons.ok' | translate }}">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Español</ion-select-option>
    </ion-select>
  </ion-item>
  
</ion-content>
