img.logo {
    display: block;
    margin: 1em auto 2.5em;
    width: 50%;
    max-width: 300px;
}

.language-select {
    width: 18em;
    margin: 2em auto 0;
    ion-icon {
        vertical-align: top;
        margin-top: 1px;
    }
}