img.logo {
    display: block;
    margin: 1em auto 2.5em;
    width: 50%;
    max-width: 300px;
}

.language-select {
    width: 18em;
    margin: 2em auto 0;
    ion-icon {
        vertical-align: top;
        margin-top: 1px;
    }
}

image-button ion-icon {
    height: 1.4ex;
}

.button-grid {
    image-button {
        display: block;
        margin-bottom: calc( 2 * var(--ion-grid-column-padding-sm,var(--ion-grid-column-padding,5px)) );
        &:last-child { margin-bottom: 0 }
    }
}
