<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../../assets/images/tat-logo.png" class="logo">

  <image-button image="home.report-activity.jpg" (click)="navCtrl.navigateRoot('/tabs/(report:report)')">{{ 'home.reportActivity' | translate }}</image-button>
  <image-button image="home.red-flags.jpg" (click)="navCtrl.navigateRoot('/tabs/(red-flags:red-flags)')">{{ 'home.redFlags' | translate }}</image-button>
  <image-button image="home.resources.jpg" (click)="navCtrl.navigateRoot('/tabs/(resources:resources)')">{{ 'home.resources' | translate }}</image-button>
  <image-button                            (click)="navCtrl.navigateRoot('/tabs/(volunteer:volunteer)')">{{ 'home.volunteer' | translate }}</image-button>
</ion-content>
