<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <h1>{{ 'redFlagsSex.industries.otr.title' | translate }}</h1>
  <ion-icon name="md-close" class="modal-close-btn" slot="fixed" (click)="modal.dismiss()"></ion-icon>

  <div class="flags-grid">
    <div>
      <app-red-flags-sex-section section="generic"></app-red-flags-sex-section>
    </div>
    <div>
      <app-red-flags-sex-section section="questions"></app-red-flags-sex-section>
    </div>
  </div>
</ion-content>