<ion-item class="industry-select">
  <ion-label>{{ 'redFlagsMisc.selectIndustry.label' | translate }}</ion-label>
  <ion-select
    interface="alert"
    [placeholder]="'redFlagsMisc.selectIndustry.placeholder' | translate"
    [(ngModel)]="settings.industry"
    (ionChange)="onSetIndustry()"
    cancelText="{{ 'misc.buttons.cancel' | translate }}"
    okText="{{ 'misc.buttons.ok' | translate }}">
    <ion-select-option value="local">{{ 'redFlagsMisc.selectIndustry.options.local' | translate }}</ion-select-option>
    <ion-select-option value="mover">{{ 'redFlagsMisc.selectIndustry.options.mover' | translate }}</ion-select-option>
    <ion-select-option value="other">{{ 'redFlagsMisc.selectIndustry.options.other' | translate }}</ion-select-option>
  </ion-select>
</ion-item>