<ion-header>
  <ion-toolbar>
    <ion-title>Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <image-button image="resources.videos.jpg">Videos</image-button>
  <image-button image="resources.books.jpg">Recommended Books</image-button>
  <image-button image="resources.laws.jpg">Human Trafficking Laws</image-button>
  <image-button image="resources.about-tat.jpg">About TAT</image-button>
  <image-button image="resources.volunteer-login.jpg">Volunteer Login</image-button>
</ion-content>
