@import '~firebaseui-en-es/dist/firebaseui.css';
#firebaseui-auth-container {
    .firebaseui-idp-button {
        padding: 16px;
    }
    /* the element below shows when it's deciding whether the login was successful */
    > .mdl-card.firebaseui-id-page-callback {
        background: transparent;
        color: white;
    }
}

// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// import custom font
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/BarlowCondensed-Light.ttf');
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/GothamBook-Italic.woff2') format('woff2'),
        url('assets/fonts/GothamBook-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-BlackItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Black.woff2') format('woff2'),
        url('assets/fonts/Gotham-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}




// ionic doesn't seem to import the variables scss file in the proper order (after ionic base styles).
// include it here to properly override the base styles.
@import "./theme/variables.scss";

body {
    font-size: 15px;
}

ion-title,
h1 {
    font-family: var( --title-font-family );
    font-size: 240%;

    ion-icon { font-size: 73% }
}

ion-content {
    li { margin-bottom: calc( var(--ion-margin) / 2 ) }
    h1:first-child { margin-top: 0 }

    a {
        text-decoration: none;
    }
    
    hr {
        background: #555;
        box-shadow: 0px 2px 2px black;
        margin-bottom: var( --ion-margin );
    }

    p {
        line-height: 1.2;
    }
}

ion-header > ion-toolbar {
    height: 0;
}

.statusbar { background: black }

.modal-close-btn {
    position: fixed;
    top: var( --ion-padding );
    right: var( --ion-padding );
    z-index: 100;
    font-size: 300%;
    cursor: pointer;
    background: rgba(0,0,0,0.7);
    border-radius: 50%;
}

ion-modal ion-content,
ion-content.like-modal {
    h1:first-child {
        padding-right: 1.3em;
    }
}

ion-alert .alert-title {
    color: black !important;
}

ion-input, ion-textarea {
    margin-top: 0.5em;
    border: var( --input-border-width ) solid var( --input-border-color );
    border-width: 0 0 var( --input-border-width ) 0;
}
ion-textarea {
    padding-left: 0.5em;
    border-width: 0 0 var( --input-border-width ) var( --input-border-width );
}
ion-item.item-datetime {
    margin-top: 0.5em;
    &:after {
        display: block;
        content: '';
        border-bottom: var( --input-border-width ) solid var( --input-border-color );
    }
}

ion-item.has-border {
    border-bottom: var( --input-border-width ) solid var( --input-border-color );
}

ion-item {
    --padding-start: 0;
}

.large-btn {
    --width: 200px;
    --height: 3.5em;
}

ion-textarea {
    height: 5em;
    &.tall { height: 10em }
}

ion-label.sc-ion-label-md-h {
    white-space: normal;
}

.like-ion-label {
    font-size: 12px;
    margin-bottom: 0;
}

ion-toggle {
    --background: #333;
    --handle-background: #444;
    --ion-background-color-step-50: black;
}

ion-alert,
ion-loading {
    --ion-text-color: black;
}

// GetFeedback survey modal
.gf-survey-modal {
    > div {
        display: flex;
        flex-direction: column;
        height: 100%;

        > h1 {
            flex: 0 0 auto;
        }
        > iframe, .like-gf-survey {
            flex: 1 0 auto;
            border: 0;
        }
    }
    .SurveyNavBar-logo-container.gf-logo { display: none }
}

@media only screen and (min-height: 768px) and (min-width: 768px) {
    .modal-large .modal-wrapper {
        width: 75%;
        min-width: 600px;
        max-width: 1000px;
        height: 75%;
        min-height: 600px;
        max-height: 1000px;
    }
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
    .modal-large .modal-wrapper {
        width: 75%;
        min-width: 600px;
        max-width: 1000px;
        height: 75%;
        min-height: 475px;
    }
}