<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content class="like-modal" fullscreen padding>
  <h1>{{ 'preOutreachSurvey.title' | translate }}</h1>
  <ion-icon name="md-chevronleft" class="modal-close-btn" (click)="navCtrl.goBack()"></ion-icon>

  <p>{{ 'preOutreachSurvey.3.intro' | translate }}</p>

  <ion-radio-group padding-top padding-bottom [(ngModel)]="formsService.preOutreachForm.contactedManager">
    <ion-item>
      <ion-label>{{ 'misc.yes' | translate }}</ion-label>
      <ion-radio slot="start" value="yes"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'misc.no' | translate }}</ion-label>
      <ion-radio slot="start" value="no"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item padding-top *ngIf="formsService.preOutreachForm.contactedManager === 'yes'">
    <ion-label position="stacked">{{ 'preOutreachSurvey.3.strategy' | translate }}</ion-label>
    <ion-textarea [(ngModel)]="formsService.preOutreachForm.strategy" placeholder="{{ 'preOutreachSurvey.3.strategyPlaceholder' | translate }}"></ion-textarea>
  </ion-item>

  <p text-center padding-top>
    <ion-button
    class="large-btn"
    fill="solid"
    color="primary"
    (click)="navCtrl.navigateRoot('/pos-4')"
    [disabled]="formsService.preOutreachForm.contactedManager === undefined">
      {{ 'misc.next' | translate }}
    </ion-button>
  </p>

</ion-content>