@import "../../../theme/variables.scss";

.survey-modal {
    > div {
        display: flex;
        flex-direction: column;
        height: 100%;

        > h1 {
            flex: 0 0 auto;
        }
    }
}
    
.survey-wrapper {
    // 100% - headerHeight - bottomButtonHeight - progressBarHeight
    height: calc( 100% - 53px - 45px - 7px );
    width: 100%;
    display: flex;
    margin-left: 0;
    transition: margin-left 0.2s;

    .page {
        // vertically align items... not by using justify-content,
        // but by using margin-top/bottom: auto, because centering
        // with justify-content breaks stuff when content overflows
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 auto;

        width: 100%;
        margin-right: 16px;
        padding: 10px 0;

        > * {
            width: 100%;
            max-width: 500px;

            &:first-child { margin-top: auto !important }
            &:last-child  { margin-bottom: auto !important }
        }

        p {
            font-size: 110%;
        }

        .required-warning {
            text-align: left;
            color: red;
            font-size: 100%;
            margin-bottom: 0.5em;
        }

        .star { font-size: 130% }

        .input-wrapper {
            background: white;
            border-radius: 4px;
            padding: 0;
            margin-bottom: 4px;
            position: relative;

            .helper {
                color: black;
                font-size: 80%;
                padding: 0 1em;
            }

            &.input-type-select { padding-left: 0 }

            &.input-type-choice {
                padding: 0;
                background: none;
                label {
                    display: block;
                    margin-bottom: 4px;
                    padding: 1.2em;
                    border-radius: 4px;
                    border: 1px solid #444;
                    background: black;
                    color: white;
                    cursor: pointer;

                    &.selected { background: $color-primary }

                    input { display: none }
                }
            }

            ion-item {
                --background: transparent;
                --color: black;

                ion-label.label-floating {
                    margin: 0 16px;
                    position: absolute;
                    -webkit-transform: translate3d(0,16px,0);
                    transform: translate3d(0,16px,0);
                    color: grey;
                }

                &.item-has-focus.label-floating,
                &.item-has-focus ion-label.label-floating,
                &.item-has-value.label-floating,
                &.item-has-value ion-label.label-floating {
                    -webkit-transform: translate3d(0,8px,0) scale(.7);
                    transform: translate3d(0,8px,0) scale(.7);
                }

                &.item-has-focus.label-floating,
                &.item-has-focus ion-label.label-floating {
                    color: $color-primary;
                }

                &.item-datetime {
                    margin-top: 0;
                    &:after { display: none }
                }

                --inner-border-width: 0;
            }

            ion-input, ion-datetime {
                border: none;
                margin: 0;
                --padding-top: 24px;
                --padding-end: 16px;
                --padding-bottom: 8px;
                --padding-start: 16px;
            }
            ion-textarea {
                border: none;
                padding: 0;
                margin: 0;
                height: 6em;
                --padding-top: 16px;
                --padding-end: 16px;
                --padding-bottom: 16px;
                --padding-start: 16px;
            }
            ion-datetime {
                padding: 24px 16px 8px 16px;
                color: black !important;

                button.datetime-cover { padding: 0 }
            }

            ion-select {
                padding: 24px 16px 8px 16px;
                --ion-text-color: black;
                --ion-text-color-step-600: #bbb;
            }

            .required-star {
                position: absolute;
                right: 0.5em;
                top: 0.25em;
                color: red;
            }

            .multi-note {
                font-size: 90%;
                opacity: 0.5;
            }
        }
        
    }

}

.progress-bar {
    width: 100%;
    height: 4px;
    position: relative;
    margin-bottom: 3px;
    background: #333;

    .progress-bar-fill {
        height: 100%;
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
        background: $color-primary;
        transition: width 0.2s;
    }
}

.survey-nav {
    .nav-button {
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 2px;
        background: $color-primary;
        cursor: pointer;
        display: flex;
        align-items: center;

        &.nav-right { float: right }
        &.nav-left { float: left }
        &.nav-submit {
            width: auto;
            text-transform: uppercase;
            font-size: 80%;
            padding: 0 1em;
        }

        &.disabled {
            background: #bdbdbd;
            pointer-events: none;
        }
    }
}
